.personesImg{
    max-height: 280px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 500px;
    }
}
.carousel-inner {
    height: max-content;
    max-height: 600px;
}

.sliderImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 25%;
}

.mw100{
    min-width: 100%;
}
body {
    position: relative;
  }
.hei200{
    height: 900px;
    overflow: auto;
}
.scrollspy-example-2 {
    height: 900px;
    overflow-y: auto;
    position: relative;
}
.mycard img{
    transition: all 0.5s ease-in-out;
}
.mycard{
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
.mycard:hover{
    box-shadow: none;

}

.mycard:hover .mycard {
    filter: brightness(60%);
}

.mycardp2 {
    transition: all 0.5s ease-in-out;
}
.mycard:hover img{
    filter: brightness(60%);
}

.mycard:hover .mycardp2 {
    transform: scale(2) translateY(-400%);
    color: white;
    
}
.mycardp2 {
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
    transform-origin: top;
}

.otzivi-lists{
    list-style-type: none;
}

.contactUs{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background: #0d6efd;
    color: white;
}
.contactUs img{
    max-width: 206px;
}
.newsCard img{
    transition: all 0.5s ease-in-out;
}
.newsCard{
    transition: all 0.5s ease-in-out;
    height: auto;
    position: static;
}
.newsCard:hover{
    animation: myAnim 1s ease-in-out 0s infinite normal forwards;
    cursor: pointer;
}
.newsCard:hover img{
    filter: brightness(60%);
}

.comments-list{
    border: 1px solid gray;
    padding: 1em;
    border-radius: 5px;
}
.comments-list-des{
    border-bottom: 1px solid gray;
}

.comments{
    border: 1px solid #0d6efd ;
    border-radius: 5px;
    overflow: auto;
    max-height: 500px;
}

@keyframes myAnim {
	0% {
		transform: scale(1);
	}
    50%{
        transform: scale(1.05);
    } 
	100% {
		transform: scale(1);
	}
}